.myWeb
{
    font-size: 30px;
    font-weight: 900;
    width: 500px;
    background: red;
    margin: 0 auto;
    height: 50px;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border:3px solid black;
    transition: 1s all;
}

.myWeb:hover{
    background: #000;
    color:white;
}

.wrapper .Hi
{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    font-style: italic;
}

.wrapper .group
{
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.wrapper .describe
{
    font-size: 25px;
}

.listWrapper
{
    position: absolute;
    position: fixed;
    right: 100px;
    top: 200px;
    border:1px solid black;
    padding: 20px;
    border-radius: 20px;
    min-height: 200px;
}

.poem
{
    text-align: center;
}

.line1
{
    background: royalblue;
    height: 5px;
    width: 100%;
}

.line2
{
    background: saddlebrown;
    height: 5px;
    width: 75%;
    margin-top:50px;
}

.line3
{
    background: yellowgreen;
    height: 5px;
    width: 50%;
    margin-top:50px;
}

.It_Is_me
{
    font-weight: 900;
    font-size: 45px;
}

.naturePicture
{
    display: block;
    margin: auto;

}