/* Стилізація калькулятора */
.text{
    font-size: 50px;
    font-weight: 900;
    color: crimson;
    margin: auto;
    width: 400px;
    background: #000;
    text-align: center;
    border: 1px solid silver;
    border-radius: 10px;
}

.wrapper{
    width: 400px;
    height: 600px;
    background: aquamarine;
    margin: auto;
}

.wrapper .answer{
    width: 400px;
    border: 2px solid silver;
    height: 50px;
    background: white;
}


.wrapper .col, .wrapper .col-6{
    cursor: pointer;
    border: 2px solid white;
    height: 75px;
    text-align: center;
    font-size: 30px;
    font-weight: 900;
}

.wrapper .expression{
    width: 400px;
    border: 2px solid silver;
    height: 50px;
    background: white;
    font-size: 30px;
    font-style: italic;
}